body {
   background: #0f0;
}

.obtekanie {
    width: 100%;
    height: 350px;
    margin: 80px auto;
    padding: 0 12px;
    position: relative;
}
#photo {
    position: absolute;
    width: 15%;
    height: auto;
    top: 0;
    left: 50%;
    margin-left: -7.5%;
}
.float-left {
    float: left;
    width: 49%;
    font-size: 32px;
}
.float-right {
    float: right;
    width: 49%;
    font-size: 32px;
}
.float-left:before, .float-right:before {
  content: "";
  width: 15%;
  height: 300px;
    
}
.float-left:before {
  float: right;
}
.float-right:before {
  float: left;
}

#galery{
    width: 100%;
    height: 800px;
    position: relative;
}

#images-box {
 width: 850px;
 margin: 0px auto;
 position: relative;
 top: 70px;
}
 
.image-lightbox img {
 width: inherit;
 height: inherit;
 z-index: 3000;
}
 
.holder {
 width: 250px;
 height: 166px;
 float: left;
 margin: 0 20px 0 0;
}
 
.image-lightbox {
 
width: inherit;
 height: inherit;
 padding: 10px;
 box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
 background: #fff;
 border-radius: 5px;
 position: absolute;
 top: 0;
 font-family: Arial, sans-serif;
 -webkit-transition: all ease-in 0.5s;
 -moz-transition: all ease-in 0.5s;
 -ms-transition: all ease-in 0.5s;
 -o-transition: all ease-in 0.5s;
}
.image-lightbox span {
 display: none;
}
 
.image-lightbox .expand {
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 z-index: 4000;
 background: rgba(0,0,0,0); /* Фиксы для IE */
 left: 0;
}
 
.image-lightbox .close {
 position: absolute;
 width: 20px; height: 20px;
 right: 20px; top: 20px;
}
 
.image-lightbox .close a {
 height: auto; width: auto;
 padding: 5px 10px;
 color: #fff;
 text-decoration: none;
 background: #22272c;
 box-shadow: inset 0px 24px 20px -15px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 30px rgba(255,255,255,0.4);
 border-radius: 5px;
 font-weight: bold;
 float: right;
}
 
.image-lightbox .close a:hover {
 box-shadow: inset 0px -24px 20px -15px rgba(255, 255, 255, 0.01), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 20px rgba(255,255,255,0.4);
}
div[id^=image]:target {
 width: 450px;
 height: 300px;
 z-index: 5000;
 top: 50px;
 left: 200px;
}
div[id^=image]:target .close {
 display: block;
}
 
div[id^=image]:target .expand {
 display: none;
}
 
div#image-1:target, div#image-2:target, div#image-3:target { left: 200px; }

